.login {
    min-height: 100vh;
    background: #000;
    .wrapper{
        .content{
            padding: 32px 32px 8px 24px;
            border-radius: 8px;
            background: #1F1F1F;
        }
    }
}